@import '../mixin';

.photosWrapper{
  @include blockWithShadow(250px, 600px);
  width: calc(60% - 20px);
  max-height: calc(100vh - 100px);
  overflow-x: hidden;
  margin: 20px 5px 5px 5px;
}
.photos{
  position: relative;
  width: 100%;
  @include flexBox(center, center);
  flex-wrap: wrap;

  img {
    position: relative;
    width: 28%;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 7px #b9b9b9;

    &:hover {
      cursor: pointer;
    }
  }

  .focused {
    position: absolute;
    width: 60%;
    z-index: 1;
  }

}

@media(max-width: 1700px) {
  .photosWrapper{
    width: 75%;
  }
}