@import "../mixin";
$size: 10px;

.postsWrapper{
  max-height: calc(100vh - 70px);
  overflow-x: hidden;
  width: calc(60% - $size);           //60!
  min-width: 520px;
  @include flexBox(normal, center);
  flex-direction: column;
  margin-left: $size;
}
.posts{
  width: calc(100% - 30px);
  @include flexBox(center, center);
  flex-direction: column;
}

.post{
  @include blockWithShadow(520px, 0px);
  width: 100%;
  margin-bottom: $size;
  padding: $size * 2;
  flex-direction: column;

  img{
    width: 100%;
    margin: 10px 0px;
    border-radius: $size / 2;
  }

  p{
    margin: $size 0px;
  }
  button{
    background-color: white;
    color: rgba(2, 16, 101, 0.91);


  }
}

.postInfo{
  @include flexBox(flex-start, center);

  span{
    color: grey;
    margin-left: 10px;
  }
}

.btnStyle{
  width: 80px;
  height: 30px;
  border: 1px solid rgba(2, 16, 101, 0.91);
  border-radius: 30px;
  @include flexBox(center, center);
  text-decoration: none;

  img{
    width: 20px;
    height: 20px;
  }
  span{
    margin: 5px;
    color: black;
    font-size: 15px;
  }
  &:hover{
    cursor: pointer;
  }
}

.newPost{
  @include blockWithShadow(520px, max-content);
  @include flexBox(flex-start, flex-start);
  flex-direction: column;
  width: calc(100% - 30px);
  display: flex;
  flex-wrap: wrap;
  padding: $size * 2;
}

.textarea{
  width: calc(100% - 20px);
  min-height: 100px;
  outline: none;
  resize: none;
  padding: $size;
  border-radius: $size;
  margin: 5px 10px;
}
.button {
  background-color: rgba(2, 16, 101, 0.91);
  color: white;
  margin: 5px 10px;

  &:hover {
    cursor: pointer;
    background-color: rgba(34, 54, 178, 0.99);
    border: none;
  }
}

@media(max-width: 800px){
  .postsWrapper, .post, .newPost, {
    min-width: 250px;
    margin-left: 0px;
  }
  .postImages{
    flex-wrap: wrap;
  }
}
@media(max-width: 1700px) {
  .postsWrapper{
    width: 75%;
  }
}
