@import "../mixin";
@import "../Posts/Posts";

.dialogs{
  width: 60%;
  min-width: 520px;
  display: flex;
  justify-content: center;
}
.dialogsElement{
  @include blockWithShadow(250px, 630px);
  padding: $size / 2;
  position: relative;

  img{
    width: 50px;
    height: 50px;
    border-radius: 40px;
    object-fit: cover;
    object-position: center;
  }

  .countMessages{
    top: 130px;
    right: 10px;
  }

}
.dialogItem{
  margin: $size;
  min-width: 200px;
  @include flexBox(flex-start, center);
  flex-wrap: wrap;
  border-bottom: 1px solid grey;
  padding: $size / 2;

  span{
    padding: $size / 2;
    color: #575656;

  }
}
.name{
  margin: $size;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  flex-basis: calc(100% - 70px);
}

.usersBlock{
  width: 30%;
  margin-right: 10px;
  margin-left: 10px;
  overflow-x: hidden;
  max-height: 450px;
}

.textBlock{
  @include flexBox(flex-start, flex-start);
  flex-direction: column;
  width: 60%;
  margin-left: 10px;
  overflow: hidden;
  max-height: 450px;

  &-centered{
    @include flexBox(center, center);

    span{
      text-align: center;
      padding: 10px;
    }
  }

}

.user{
  @include flexBox(center, center);
  border-bottom: 1px solid black;
  padding: $size;
  min-height: 80px;
  width: 100%;

  h3{
    margin: 10px;
  }
}
.messagesContainer{
  padding: 10px;
  margin: $size 0px;
  height: calc(100% - 140px);
  width: 100%;
  overflow-x: hidden;

}
.message{
  width: 50%;
  min-width: 180px;
  margin: $size 0px;
  padding: 15px;
  border-radius: 20px;
  position: relative;

  &::before, &::after{
    content: '';
    position: absolute;
    height: 25px;
    bottom: 0;
  }
  span{
    color: grey;
    font-size: 12px;
  }
}
.fromMe{
  background-color: rgb(196, 224, 248);
  margin-left: auto;

  &::before{
    width: 20px;
    right: -7px;
    background-color: rgb(196, 224, 248);
    border-bottom-left-radius: 16px 14px;
  }
  &:after{
    width: 9px;
    background-color: white;
    right: -9px;
    border-bottom-left-radius: 10px;
  }

}
.notFromMe{
  background-color: #e5e3e3;

  &::before{
    width: 20px;
    left: -7px;
    background-color: #e5e3e3;
    border-bottom-right-radius: 16px 14px;
  }
  &:after{
    width: 9px;
    background-color: white;
    left: -9px;
    border-bottom-right-radius: 10px;
  }
}



@media(max-width: 1700px){
  .dialogs{
    width: 75%;
  }
}
@media(max-width: 900px){
  .dialogs{
    width: 100%;
  }
}
@media(max-width: 700px){
  .dialogs{
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
  }
  .textBlock{
    width: 50%;
    margin-left: 0;
  }
  .usersBlock{
    margin-right: 0;
    margin-left: 0;
  }
}
