@import "../mixin";

.navWrapper{
  width: 20%;
  min-width: 250px;

}
.nav{
  @include blockWithShadow(200px, 600px);
  padding: 20px;
  margin-bottom: auto;

}
.userPhoto{
  @include flexBox(center, center);
  flex-direction: column;
  margin-bottom: 40px;


  img{
    width: 80%;
    margin-bottom: 30px;
    min-width: 130px;
  }
  h1{
    font-weight: 500;
    font-size: 25px;
    text-align: center;
  }
  span{
    margin-top: 10px;
    color: #5b5b5b;
    font-size: 18px;
  }
}

nav{

  a{
    display: block;
    padding: 5px 10px;
    margin: 10px;
    color: #393a3a;
    text-decoration: none;
    font-size: 20px;
    width: 85%;
    //border: 1px solid white;

    &:hover{
      //background-color: #f0f0f1;
      transition: .5s;
      transform: translateX(10px);
      scale: 1.05;
    }
  }
}

//@media(max-width: 850px){
//
//}